html {
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

body {
    background: #fff;
    padding: 10px;
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
}

aside {
    height: 650px;
    width: 160px;
    background: grey;
}

ul {
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid #1c1f21;
}

ul li {
    list-style-type: none;
    color: white;
    padding: 10px;
    border-bottom: 1px solid lightcoral;
    border-top: 1px solid #1c1f21;
    overflow: auto;
    cursor: pointer;
}

ul li:first-child {
    border-top: none;
}

ul li:hover .title {
    color: lightcoral;
}

ul li div {
    float: left;
}

.icons {
    padding: 10px;
}

.title {
    line-height: 35px;
    padding-left: 10px;
}

/* Reponsive menu code */

@media all and (max-width: 600px) {
    aside {
        width: 60px;
        padding: 0px 10px;
    }
    ul li {
        overflow: hidden;
        padding: 0px 10px;
    }
    .title {
        position: absolute;
        z-index: -1;
        left: -50px;
        padding: 29px 15px;
        line-height: 0px;
        background: grey;
    }
    ul li:hover .title {
        left: 80px;
    }
    .icons {
        padding: 20px 10px;
    }
    ul li:hover .icons {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}