html {
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

body {
    background: #fff;
    padding: 10px;
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
}

aside {
    height: 650px;
    width: 160px;
    background: teal;
}

ul {
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid #1c1f21;
}

ul li {
    list-style-type: none;
    color: white;
    padding: 10px;
    border-bottom: 1px solid lightcoral;
    border-top: 1px solid #1c1f21;
    overflow: auto;
    cursor: pointer;
}

ul li:first-child {
    border-top: none;
}

ul li:hover .title {
    color: lightcoral;
}

ul li div {
    float: left;
}

.icons {
    padding: 10px;
}

.title {
    line-height: 35px;
    padding-left: 10px;
}

/* Reponsive menu code */

@media all and (max-width: 600px) {
    aside {
        width: 60px;
        padding: 0px 10px;
    }
    ul li {
        overflow: hidden;
        padding: 0px 10px;
    }
    .title {
        position: absolute;
        z-index: -1;
        left: -50px;
        padding: 29px 15px;
        line-height: 0px;
        background: grey;
    }
    ul li:hover .title {
        left: 80px;
    }
    .icons {
        padding: 20px 10px;
    }
    ul li:hover .icons {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#feedback-page {
    text-align: center;
}

#form-main {
    width: 100%;
    float: left;
    padding-top: 0px;
}

#form-div {
    background-color: lightcoral;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 30px;
    margin-left: -260px;
}

.content {
    color: lightcoral;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

.content:focus {
    background: #fff;
    box-shadow: 0;
    border: 3px solid teal;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused {
    color: #30aed6;
    border: coral solid 3px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background-color: white;
}

#button-b {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: teal;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

#button-b:hover {
    background-color: rgba(0, 0, 0, 0);
    color: lightcoral;
}

.submit:hover {
    color: lightcoral;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease {
    width: 100%;
    background-color: teal;
}

@media only screen and (max-width: 580px) {
    #form-div {
        left: 25%;
        margin-right: 25%;
        width: 60%;
        margin-left: 5%;
        padding-left: 2%;
        padding-right: 3%;
    }
}

