body {
    background: #E0E0E0;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: -0.5px;
    font-family: "FontAwesome"
}

.nav {
    transition: all 0.4s;
}

header {
    background: lightcoral;
    width: 100%;
    padding: 5px 0;
    margin-right: 75px;
    color: white;
    text-align: center;
}

header h1,
h5 {
    letter-spacing: 20px;
}

.side-view ul {
    list-style: none;
    text-align: right;
    padding-left: 0px;
    width: 100%;
}

.side-view ul li {
    height: 51px;
    line-height: 51px;
    border-bottom: 1px solid #d2d1d1;
    box-sizing: border-box;
}

.side-view ul li a {
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    padding: 1px;
    padding-right: 10px;
    color: #72739f;
    transition: all 0.4s;
}

.side-view ul li a:hover {
    text-decoration: none;
}

.side-view ul li:hover {
    border-right: 1px solid #d2d1d1;
    background: #449d44;
}

.side-view ul li:hover a {
    color: white;
}

.side-view ul li a .nav {
    width: 100%;
    transition: all 0.4s;
}

.side-view {
    background: #DCDCDC;
    position: absolute;
    top: 0px;
    right: 100%;
    width: 100%;
    height: 500px;
    transition: all 0.4s;
}

.module .body {
    background: rgba(27, 43, 53, 1);
}

.instance {
    padding: 10px 10px;
    background: #EFEFEF;
}

.property {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 1px 0px;
    background: #EFEFEF;
}

.property {
    overflow: hidden;
    height: 60px;
}

.function_title {
    text-align: right;
    color: white;
}

.menu,
.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    z-index: 10;
    overflow: hidden;
    box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}

.menu li a {
    display: block;
    text-indent: -500em;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #72739f;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: background 0.1s ease-in-out;
}

.menu li a:before {
    font-family: "Font Awesome 5 Free";
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
}

.menu li a.archive:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0ca";
    margin-left: 18px;
}

.menu li a.pencil:before {
    font-family: "Font Awesome 5 Free";
    content: "\f022";
    margin-left: 18px;
}

.menu li a.contact:before {
    font-family: "Font Awesome 5 Free";
    content: "\f35a";
    margin-left: 18px;
}

.menu li a.home:before {
    font-family: "Font Awesome 5 Free";
    content: "\f2bd";
}

.menu-bar li a:hover,
.menu li a:hover,
.menu li:first-child a {
    background: lightcoral;
    color: #fff;
}

.menu-bar {
    overflow: hidden;
    left: 5em;
    z-index: 5;
    width: 0;
    height: 0;
    transition: all 0.1s ease-in-out;
}

.menu-bar li a {
    display: block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    color: #72739f;
    text-decoration: none;
    position: relative;
    font-family: verdana;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: background 0.1s ease-in-out;
}

.menu-bar li:first-child a {
    height: 5em;
    background: #449d44;
    color: #fff;
    line-height: 5
}

.container {
    margin-top: 100px;
}

.menu {
    height: 5em;
    width: 100%;
}

.menu li {
    display: block;
    float: none;
}

.menu-bar li a {
    width: 100%;
}

.menu-bar {
    width: 100%;
    left: 0;
    height: 0;
}

.menu li,
.menu-bar {
    font-size: 70%;
}

.menu {
    height: 50px;
    width: 100%;
}

.menu li a {
    position: relative;
}

.menu li:first-child:after {
    content: "MY PROFILE";
    display: block;
    width: calc(100% - 50px);
    text-align: center;
    position: absolute;
    top: 12px;
    font-size: 20px;
    left: 50px;
    color: black;
    z-index: 100;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}

.menu {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.menu li a:not(#menu-button) {
    width: 100% !important;
    text-align: left;
    padding-left: 40px;
}

.profile {
    margin-top: 50px;
    width: 100%;
    background: #DCDCDC;
    height: 100vh;
    display: block;
    padding: 20px 0px;
}

.module-wrapper {
    margin-top: 30px;
}

.module {
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 30px;
    margin-right: 75px;
    border-radius: 5px 5px 0px 0px;
    background: #EFEFEF;
}

.module .head {
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    color: lightcoral;
    font-size: 20px;
}

.edit {
    font-family: "Font Awesome 5 Free";
    float: right;
    margin: 0px 10px;
    color: #72739F;
    font-size: 18px;
    min-height: 25px;
}

.edit:before {
    font-family: "Font Awesome 5 Free";
    content: "\f274";
    min-height: 25px;
}

.history {
    font-family: "Font Awesome 5 Free";
    float: right;
    margin: 0px 10px;
    color: #72739F;
    font-size: 18px;
    min-height: 25px;
}

.history:before {
    font-family: "Font Awesome 5 Free";
    content: "\f017";
    min-height: 25px;
}

.module i:hover {
    color: #449D44;
    cursor: pointer;
}

/*==========  Mobile Method  ==========*/

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */

@media only screen and (min-width: 760px) {
    .menu {
        -webkit-transition: none;
        transition: none;
    }
}

@media only screen and (min-width: 768px) {
    .menu {
        -webkit-transition: none;
        transition: none;
    }
    .profile h3 {
        display: block;
        padding: 20px;
    }
    .menu li:first-child:after {
        font-size: 15px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.5);
    }
    .menu {
        width: 50px;
    }
    .menu,
    .menu-bar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: #f7f7f7;
        z-index: 10;
        overflow: hidden;
        box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
    }
    .menu li a {
        display: block;
        text-indent: -500em;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        color: #72739f;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        transition: background 0.1s ease-in-out;
    }
    .menu li a:before {
        font-family: FontAwesome;
        text-indent: 0em;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 1.4em;
    }
    .menu-bar {
        overflow: hidden;
        left: 5em;
        z-index: 5;
        width: 0;
        height: 0;
        transition: all 0.1s ease-in-out;
    }
    .menu-bar li a {
        display: block;
        height: 4em;
        line-height: 4em;
        text-align: center;
        color: #72739f;
        text-decoration: none;
        position: relative;
        font-family: verdana;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        transition: background 0.1s ease-in-out;
    }
    .menu-bar li:first-child a {
        height: 5em;
        background: #449d44;
        color: #fff;
        line-height: 5
    }
    .para {
        color: #033f72;
        padding-left: 100px;
        font-size: 3em;
        margin-bottom: 20px;
    }
    .profile {
        margin-top: 0px;
        width: calc(100% - 50px);
        margin-left: 50px;
        background: #DCDCDC;
        height: 100vh;
        display: block;
        padding: 20px;
    }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}

/************* TO GO **************/

.module .body {
    overflow: hidden;
}

/* * Simple reminder switch */

.switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: #dfd9ea;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
}

.switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fafafa;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.switch:active::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
}

input:checked+.switch {
    background: #72da67;
}

input:checked+.switch::before {
    left: 27px;
    background: #fff;
}

input:checked+.switch:active::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
}

footer {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    padding-bottom: 30px;
}